* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

.App {
  background-color: white;
}

.login {
  text-align: center;
  /* border: 1px solid peru; */
}

.login-inner {
  padding: 250px 0;
  /* border: 1px solid peru; */
}

.app-header > Link {
  text-decoration: none;
}